html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.bg {
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: url("../img/Fondo-01.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    background-color: black;
}

.title {
    width: 100%; 
    text-align: center;
}

.title > p {
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.info-box {
    width: 100%; 
    text-align: center;
}

.info-box > p {
    display: inline-block;
    vertical-align: middle;
    color: #999
}

.inline > * {
    display: inline-block;
    vertical-align:middle;
}

.other-menu .left {
    position: absolute;
    left: 0;
}

.other-menu .right {
    position: absolute;
    right: 0;
}

.svg-color-white {
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(88deg) brightness(99%) contrast(102%);
}

.svg-color-gray {
    filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(92%) contrast(92%);
}

.svg-color-darkgray {
    filter: invert(7%) sepia(54%) saturate(0%) hue-rotate(300deg) brightness(99%) contrast(87%);
}

.text-black {
    color: black;
}

/* Smartphones (landscape) ----------- */
@media (min-width : 320px) {
    .main-menu, .other-menu {
        display: none;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        bottom: 8vh;
        left: 0;
    }
}

/* Smartphones (portrait) ----------- */
@media (max-width: 480px) {
    .bg {
        background-size: 180% auto;
        background-position-x: center;
    }
}

@media (min-width : 480px) {
    .main-menu, .other-menu {
        display: none;
    }

    .icon {
        margin: 0;
        width: 65px;
        display: inline;
    }

    .info-box {
        position: absolute;
        bottom: 8vh;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 18vh;
    }
}

/* Small Screens ----------- */
@media (max-width: 800px) {
    .bg {
        background-size: 190% auto;
        background-position-x: center;
    }
}

@media (min-width : 800px) {
    .main-menu, .other-menu {
        display: none;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        bottom: 8vh;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 18vh;
    }
}

/* Laptop Screens ----------- */
@media (min-width : 1025px) {
    .main-menu {
        position: absolute;
        top: 60%;
    }
    
    .main-menu, .other-menu {
        display: block;
        width: 100%;
    }

    .main-menu > *, .other-menu > * {
        display: table;
        margin: 0 auto;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        top: 85%;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 155px;
    }
}

/* Big Screens ----------- */
@media (min-width : 1280px) {
    .main-menu {
        position: absolute;
        top: 65%;
    }
    
    .main-menu, .other-menu {
        display: block;
        width: 100%;
    }

    .main-menu > *, .other-menu > * {
        display: table;
        margin: 0 auto;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        top: 85%;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 155px;
    }
}

/* Bigger Screens ----------- */
@media (min-width : 1450px) {
    .main-menu {
        position: absolute;
        top: 65%;
    }
    
    .main-menu, .other-menu {
        display: block;
        width: 100%;
    }

    .main-menu > *, .other-menu > * {
        display: table;
        margin: 0 auto;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        bottom: 5vh;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 155px;
    }
}