html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.bg {
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: url("../img/Fondo-01.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    background-color: black;
}

.white-svg {
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(88deg) brightness(99%) contrast(102%);
}

.color-ccc {
    filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(92%) contrast(92%);
}

.color-777 {
    filter: invert(31%) sepia(3%) saturate(0%) hue-rotate(267deg) brightness(102%) contrast(93%);
}

.inline > * {
    display: inline-block;
    vertical-align:middle;
}

.main-menu {
    position: absolute;
    top: calc(50% + 12vh);
}

.center {
    width: 100%;
}

.center > .inner {
    display: table;
    margin: 0 auto;
}

.bottom {
    width: 100%;
    position: absolute;
    top: calc(50% + 31vh);
}

.right {
    float: right;
}

.icon {
    margin: 0;
    width: 6vw;
    display: inline;
}

.text-white {
    color: white;
    font-size: 1.3vw;
}

.text-black {
    color: black;
    font-size: 1.3vw;
}

.side-menu {
    position: absolute;
    width: 20vw;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 100;
    left: -20vw;
}

.side-menu.side-menu-visible {
    left: 0;
}

.side-menu .side-toggle {
    position: absolute;
    top: calc(50% - 60px);
    left: 20vw;
    
    width: 50px;
    height: 120px;
    background-color: rgb(0, 145, 182);

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    display: flex;
    cursor: pointer;
}

.side-toggle .bars {
    margin: auto;
}

.side-toggle .bar1, .side-toggle .bar2, .side-toggle .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: .3s;
}

.side-toggled .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.side-toggled .bar2 {
    opacity: 0;
}
  
.side-toggled .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.side-menu .side-bottom {
    position: absolute;
    bottom: 0%;
}