html {
    height: 100%;

    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;

    overflow: hidden;
}

.center {
    width: 100%;
}

.center .inner {
    display: table;
    margin: 0 auto;
}

.inline > * {
    display: inline-block;
    vertical-align:middle;
}

.bg-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg {
    position: absolute;

    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, #ACACAC 50%, #000000 50%);
}

.bg > svg {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%; 
    text-align: center;
}

.title > p {
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.svg-color-white {
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(88deg) brightness(99%) contrast(102%);
}

.svg-color-white:hover {
    filter: invert(74%) sepia(0%) saturate(748%) hue-rotate(142deg) brightness(93%) contrast(88%);
}

.svg-color-gray {
    filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(92%) contrast(92%);
}

.svg-color-darkgray {
    filter: invert(7%) sepia(54%) saturate(0%) hue-rotate(300deg) brightness(99%) contrast(87%);
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-copy {
    width: 100%;
    color: black;
    text-align: center;
}

.text-copy-side {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-copy-side p {
    flex: 0 0 100%;
}

.title p, .info-box p {
    margin: 5px;
    font-size: 32px;
    text-align: center;
}

.info-box p {
    color: white;
}

.side-menu {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(172,172,172,0.8);
    z-index: 100;
    /*left: -200px;*/
    bottom: -300px;

    box-shadow: 5px -3px 23px 0px #000000;
}

.side-menu .side-container {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
}

.side-menu .side-title {
    width: 100%;
    height: 100px;
    display: flex;
}

.side-menu.side-menu-visible {
    left: 0;
}

.side-menu .side-toggle {
    position: absolute;
    
    top: -50px;
    left: calc(50% - 40px);
    
    width: 80px;
    height: 50px;
    background-color: #555;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    display: flex;
    cursor: pointer;
    box-shadow: 5px -3px 23px 0px #000000;
}

.side-toggle .bars {
    margin: auto;
}

.side-toggle .bar1, .side-toggle .bar2, .side-toggle .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: .3s;
}

.side-menu .side-left {
    width: 60%;
    height: 100%;
    overflow-y: auto;
    float: left;
    text-align: center;
}

.side-menu .side-right {
    width: 40%;
    height: 100%;
    overflow-y: auto;
    float: right;
    text-align: center;
}

.side-svg-icon {
    filter: invert(0%) sepia(1%) saturate(4%) hue-rotate(320deg) brightness(97%) contrast(104%);
}

.side-svg-icon:hover {
    filter: invert(30%) sepia(0%) saturate(41%) hue-rotate(249deg) brightness(106%) contrast(91%);
}

.mobile-hide {
    visibility: hidden;
    display: none;
}

.mobile-show {
    visibility: visible;
    display: block;
}

.main-container {
    overflow: hidden;
}

.icon {
    width: 80px;
}

@media (min-width : 800px) {
    .main-menu, .other-menu {
        display: none;
    }

    .icon {
        margin: 5px;
        width: 65px;
        display: inline;
    }

    .other-menu {
        position: absolute;
        bottom: 18vh;
    }
}

@media (max-width : 1025px) and (orientation:landscape) {
    .bg {
        transform: scale(1.4);
    }

    .mobile-landscape-hide {
        visibility: hidden;
        display: none;
    }
}

@media (max-width : 1025px) and (orientation:portrait) {
    .bg {
        transform: scale(1.9);
    }
}


/* Laptop Screens ----------- */
@media (min-width : 1025px) {
    .side-menu {
        display: none;
    }

    .mobile-hide {
        visibility: visible;
        display: block;
    }

    .mobile-show {
        visibility: hidden;
        display: none;
    }

    .bg {
        background: black;
    }

    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }
}

/* Big Screens ----------- */
@media (min-width : 1280px) {
    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }

    .info-box {
        position: absolute;
        top: 85%;
        left: 0;
    }

    .other-menu {
        position: absolute;
        bottom: 155px;
    }
}

/* Bigger Screens ----------- */
@media (min-width : 1450px) {
    .icon {
        margin: 0;
        width: 100px;
        display: inline;
    }
}